aniso8601==1.1.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
boto==2.43.0
bz2file==0.98
certifi==2015.9.6.2
cffi==1.7.0
click==6.6
coverage==4.2
cryptography==1.4
Django==1.9.1
django-angular==0.7.15
django-filter==0.12.0
django-pipeline==1.6.4
djangorestframework==3.3.2
enum34==1.1.6
Flask==0.11.1
Flask-Cors==3.0.2
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
funcsigs==0.4
futures==3.0.4
gax-google-logging-v2==0.7.11
gax-google-pubsub-v1==0.7.11
gcloud==0.17.0
gensim==0.13.3
google-gax==0.12.3
googleapis-common-protos==1.2.0
grpc-google-logging-v2==0.7.12
grpc-google-pubsub-v1==0.7.12
grpcio==0.15.0
gspread==0.4.0
httplib2==0.9.2
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
matplotlib==1.4.3
mercurial==3.7.2
mock==1.3.0
ndg-httpsclient==0.4.0
nltk==3.2.1
nose==1.3.7
numpy==1.9.3
oauth2client==2.2.0
oauthlib==1.1.2
pandas==0.17.1
pbr==1.8.0
ply==3.8
protobuf==3.0.0
psutil==4.4.0
psycopg2==2.6.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
PyExecJS==1.1.0
pygame==1.9.2.dev1
pyOpenSSL==16.0.0
pyparsing==2.0.3
PyReact==0.6.0
Pyrebase==3.0.7
python-dateutil==2.4.2
python-firebase==1.2
python-google-places==1.1.0
pytz==2015.6
requests==2.7.0
requests-oauthlib==0.6.1
rsa==3.4.2
scikit-learn==0.17
scikits.statsmodels==0.3.1
scipy==0.16.1
six==1.10.0
smart-open==1.3.5
SQLAlchemy==1.0.14
sseclient==0.0.12
tornado==4.2.1
vboxapi==1.0
virtualenv==13.1.2
Werkzeug==0.11.11
