.title {
	padding-top: 30px;
	margin-bottom: 40px;
	letter-spacing: 1px;
	font-weight: 650;
	line-height: 75px;
	display: block;
	text-align: center;

}

.title:hover {
	text-shadow: 0 0 60px #e79d74;
}

.humantext-title:hover {
	text-shadow: 0 0 60px #59b1f2;
}

.trumptext-title:hover {
	text-shadow: 0 0 60px #e79d74;
}

.text-muted {
	margin-left: 10px;
}

.humantext, .humantext-title, .trumptext, .trumptext-title, .btn-translate {
	letter-spacing: 1px;
}

.btn {
	margin-top: -10px;
}

/* Div Design */
.user {
	display: block;
	padding-top: 20px;
	text-align: center;

}

.computer {
	display: block;
	padding-top: 20px;
	text-align: center;
}

/* Image */

.trump {

	margin-left: auto;
	margin-right: auto;
	display: block;
}



.h4 {
	text-align: center;

}

.home {
    background-color: lightblue;
}